<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <clear />
    <!--Empty string causes MTGAPI provider to use defaults.-->
    <add name="MTGAPI" connectionString="" />
		<add name="LocalCardDataEntities" connectionString="metadata=res://*/DAL.SQLiteLocal.LocalCardData.csdl|res://*/DAL.SQLiteLocal.LocalCardData.ssdl|res://*/DAL.SQLiteLocal.LocalCardData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\LocalCardData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="PCShark" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="XmlListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\PerrinL\Documents\Visual Studio 2012\Projects\CardShark\CardShark.PCShark\bin\Debug\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener2, CardShark.PCShark, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="XmlListener" traceOutputOptions="DateTime, ProcessId, ThreadId">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging maxSizeOfMessageToLog="1000000" />
    </diagnostics>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>